/* 초기화 */
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  cursor: url('../image/cursor.png'), auto;
}

@font-face {
	font-family: 'AppleSDGothicNeoM';
	src: url('../fonts/AppleSDGothicNeoM.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* 바디 설정 */
body {
  font-family: 'AppleSDGothicNeoM', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  overflow: hidden;
  background-image: url(../image/bg.jpg);
}

/* 아이폰 제일 바깥 */
.iphoneframe {
  position: relative;
  width: 900px;
  height: 1200px;
  background: rgb(52, 50, 50);
  border-radius: 100px;
  overflow: hidden; /* 아이폰 프레임의 바깥으로 나가는 것을 방지 */
}

/* 아이폰 중간 */
.iphoneframe::before {
  content: '';
  position: absolute;
  inset: 9px;
  background: #000;
  border-radius: 96px;
}

/* 아이폰 흰색 바탕 */
.iphoneinframe {
  position: absolute;
  inset: 9px;
  background: #ffffff;
  border-radius: 96px;
  border: 20px solid #000;
  display: grid;
  grid-template-rows: 13% 77% 10%;
  overflow: hidden; /* 내용이 경계 바깥으로 넘지 않도록 */
}


/* 상단 10% 영역 */
.top-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 세 개의 열로 나누기 */
  align-items: center;
  padding: 0 20px;
}

/* 시계 */
.clock {
  grid-column: 1 / 2; /* 왼쪽 열 */
  text-align: center;
  font-family: 'AppleSDGothicNeoM', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: black;
}

/* 블랙 바 */
.black-bar {
  grid-column: 2 / 3; /* 가운데 열 */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 75px;
  background: #000;
  border-radius: 40px;
}

.battery {
  grid-column: 3/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.battery img{
  width: 200px;
  height: auto; 
}

/* 하단 90% 영역 */
.bottom-section {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 200px 0px;
  box-sizing: border-box;
  overflow-y: auto; /* 내용이 경계 바깥으로 넘지 않도록 */
  -ms-overflow-style: none;
}
.bottom-section::-webkit-scrollbar{
  display:none;
}

/* 게시물 스타일 */
.post {
    background-color: #ffffff;
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    display: flex;
    padding: 13px; /* 1.3배로 늘림 */
}

.profile-picture img {
    border-radius: 50%;
    width: 80px; /* 1.3배로 늘림 */
    height: 80px; /* 1.3배로 늘림 */
}

.post-content {
    margin-left: 13px; /* 1.3배로 늘림 */
    width: 100%;
}

.user-info {
    font-size: 18px; /* 1.3배로 늘림 */
    color: #657786;
}

.user-info .name {
    font-weight: bold;
    color: #14171a;
}

.user-info .username, .user-info .time {
    margin-left: 6px; /* 1.3배로 늘림 */
}

.message {
    font-size: 21px; /* 1.3배로 늘림 */
    margin: 7px 0; /* 1.3배로 늘림 */
    color: #14171a;
}

.post-actions {
    display: flex;
    justify-content: space-around;
    font-size: 18px; /* 1.3배로 늘림 */
    color: #657786;
    margin-top: 13px; /* 1.3배로 늘림 */
}

a {
  text-decoration: none;
}
