@font-face {
	font-family: 'AppleSDGothicNeoB';
	src: url('../font/AppleSDGothicNeoM.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'AppleSDGothicNeoB', sans-serif;
}
